{% extends '_base.html' %}
{% block content %}
    <div class="py-4">
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ movie.image.url }}" class="card-img-left" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h1 class="card-title fw-bold">{{ movie.title }}</h2>
                        <p class="card-text">{{ movie.description }}</p>
                        {% if movie.url %}
                        <a href="{{ movie.url }}" class="btn btn-primary me-2">Watch movie</a>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <a href="{% url 'create_review' movie.id %}" class="btn btn-outline-primary">Add Review</a>
                        {% endif %}

                        {% if reviews %}
                        <hr>
                        <h4>Reviews</h4>
                        {% for review in reviews %}
                        <li class="list-group-item p-3">
                            <h5 class="card-title">Review by {{ review.user.username }}</h5>
                            <p class="small text-muted">{{ review.date }}</p>
                            <p class="card-text">{{ review.text }}</p>
                            {% if user.is_authenticated and user == review.user %}
                                <a href="" class="btn badge btn-primary me-2">Update</a>
                                <a href="" class="btn badge btn-danger">Delete</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}