{% extends '_base.html' %}
{% block content %}    
    <h1>{% if searchTerm %}Searching for {{ searchTerm }}{% else %}Welcome to homepage{% endif %}</h1>

    <div class="row row-cols-1 row-cols-md-5 py-4 g-4">
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="cart-text">{{ movie.description }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary w-100">Movie Link</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Join our mailing list</h2>
    <form action="{% url 'signup' %}">
        <label for="email" class="form-label">Enter your email</label>
        <input type="email" name="email" id="" class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}