{% extends '_base.html' %}
{% block title %}Our latest news{% endblock %}
{% block content %} 
        <h1>Our latest News</h1>
        {% for news in newss %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ news.headline }}</h5>
                <p class="card-text"><small class="text-muted">{{ news.date }}</small></p>
                <p class="card-text">{{ news.body }}</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}